{% extends 'base.html' %}
{% block content %}
<div class="col-4 offset-4">
    <div class="col-10">
          <h4 class="text-center">Google Data Loss Prevention API Demo</h4>
            <hr>
            <br>          
    </div>
    {% if not status %}
    <div class="card  p-4">
        <div class="mb-3">
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <label for="file_upload" class="form-label">Upload File</label>
                <input class="form-control form-control-sm mb-4" id="file_upload" name="file" type="file"
                    accept="application/pdf" required>
                <!-- <select class="form-select form-select-sm mb-4" name="requestVal">
                    <option value="msa">MSA</option>
                    <option value="sow">SOW</option>
                    <option value="change request">Change Request</option>
                </select> -->
                <input class="form-control form-control-sm mb-4 mw-50" id="id" name="doc_name" type="text"
                    placeholder="Enter Document Name..." required />

                <input type="checkbox" id="extract_infotype" /> <label htmlFor="checkbox">Extract possible Info Types </label>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary btn-sm " value="UPLOAD">
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% if status %}
    <h4 class="text-success" style="text-align: center;">File Uploaded Successfully</h4>   
    <h4 class="text-success" style="text-align: center;">DLP Process is running in the background.  </h4>  
    <br>
    <h4 class="text-success" style="text-align: center;"> This page will be automatically redirected to the Dashboard for tracking the progress</h4>
    <div id="counter">10</div> 
    <script>
        console.log(status);
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/index");
            }
        }, 1000);
    </script>
    {% endif %}
</div>
{% endblock %}